#importbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputfile, #wordfile {
    padding-left: 10px;
}



#main {
    display: flex;
    align-items: top;
    justify-content: center;
}

#bg {
    background-image: url(download_files/watatsumiisland.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

table {
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    
}

td {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    text-align: center;

}

td.selected_start {
    background: limegreen;
}

td.selected_end {
    background: grey;
}

#grid {
    border-radius: 10px;
    padding-block: 15px;
    padding-inline: 15px;
    width: fit-content;
    height: fit-content;
    outline: auto;
    background-color: aliceblue;
    
    
    
}


#wordblock {
    width: 300px;
    background-color: antiquewhite;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-block: 15px;
    border-radius: 20px;
    min-height: 520px;
    outline: auto;
    
}

#wordlist {
    white-space: pre-line;
}

#wordsfound {
    white-space: pre-line;
    text-decoration: line-through;
    color: dimgrey;
}

#tutorial {
    width: 300px;
    background-color:rgb(250, 216, 215);
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-block: 15px;
    border-radius: 20px;
    min-height: 520px;
    outline: auto;
    
}

li {
    padding-right: 17px;
    font-size: 20px;
}

a {
    font-size: 20px;
}

#intro {
    background-color: lightcoral;
    position: relative;
    height: 200px;
}

#intro h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#intro h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
